*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

#main{
    width: 100%;
    min-height: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}

/* navigation baaaar */

#nav{
    width: 100%;
    height: 11vh;
    border-top: 1.5px solid #1e1e1e;
    border-bottom: 1.5px solid #1e1e1e;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px; /* ye dene se issue aa jata hai jisse main and nav dono ka page niche ek sath aa jata hai toh use avoid krne ke liye main ko padding dedo ekdm km bahut thoda sa bhi jisse vo sahi ho jayega */
}


@font-face {
    font-family: "Monument Extended";
    src: url("/MonumentExtended-Ultrabold.otf") format("opentype");
    font-weight: bold;
}


#nav h1{
    height: 100%;
    width: 20%;
    /* background-color: bisque; */
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e1e1e;
    font-family: 'Monument Extended';
    letter-spacing: -1px;
    position: relative;
}
#nav h3{
    display: none;
}
#nav h2{
    height: 100%;
    width: 20%;
    /* background-color: bisque; */
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1.5px solid #1e1e1e;
    color: #1e1e1e;
}

#nav h2:nth-last-child(1){
    width: 12%;
    /* background-color: aquamarine;
     */
}

#nav h2:nth-last-child(2){
    width: 30%;
    /* background-color: aquamarine; */
}

#nav h2:nth-last-child(4){
    border: none;
}

#nav h1::after{
    content: "©️";
    font-weight: 400;
    font-size: 1vw;
    position: absolute;
    top: 16%;
    right: 14%;
    color: #1e1e1e;
}

#nav h1::before{
    content: "model management";
    font-family: 'gilroy';
    font-weight: 400;
    font-size: .8vw;
    position: absolute;
    bottom: 16%;
    right: 20%;
    letter-spacing: .1px;
    color: #1e1e1e;
}


/* Hero Section */

#hero{
    width: 100%;
    height: 80vh;
    /* background-color: rebeccapurple; */
    padding: 2vw 4vw;
    position: relative;
}

#content{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    position: relative;
    overflow: hidden;
}

#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4); /* Black with 50% transparency */
    z-index: 1; /* Ensure it's above the video */
    backdrop-filter: blur(1px);
}

#overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52%;
    z-index: 2; /* Make sure content is above the overlay */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 2vw; */
    /* background-color: aquamarine; */
}

#over1 h1{
    font-family: 'monument extended';
    color: #ffffff;
    font-size: 3vw;
}

#over1 h2{
    color: #ffffff;
    font-weight: 500;
    font-size: 2vw;
    padding: 2vw 2.2vw;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #ffffff;
    margin-top: 1.4vw;
    padding: 1.6vw 0vw;
    /* background-color: blue; */
}

#over2 h4{
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4vw;
}

#over2 img{
    height: 2.6vw;
}

/* scroll images */

#scroll{
    width: 100%;
    height: 40vh;
    /* background-color: rebeccapurple; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 110%;
    /* background-color: beige; */
    display: inline-block;
    padding: 2vw;
    animation-name: infinite-scroll;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

#scroll img{
    height: 95%;
    width: 14%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    /* display: none; */
    margin: 1vw 1.6vw;
}

#scroll img:nth-child(1){
    object-position: center;
}

@keyframes infinite-scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


/* Alphabet */

#alphabet{
    width: 100%;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .76vw;
    border-top: 1.4px solid #1e1e1e;
    border-bottom: 1.4px solid #1e1e1e;
}

#alphabet h5{
    margin-right: 1vw;
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    border-bottom: #1e1e1e 1.4px solid;
    letter-spacing: 2px;
}

#alphabet h6{
    
    font-size: 1vw;
    font-weight: 500;
    font-style: italic;
    padding: .7vw .9vw;
    border-radius: 50%;
    transition: all ease .2s;
    cursor: pointer;
}

#alphabet h6:hover{
    border: #1e1e1e 1px solid;
    
}

/* page 2 */

#page2{
    width: 100%;
    height: 100vh;
    /* background-color: #f10101; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    /* gap: 2vw; */
}

 #left{
    height: 100%;
    width: 50%;   
    background-color: #fff;
}

#left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#right{
    height: 100%;
    width: 48%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: 10%;
}

#right-bottom{
    width: 100%;
    margin-top: 1.2vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2vw;
    /* background-color: aqua; */
}

#right-bottom h3{
    width: 80%;
    font-size: 1.5vw;
    line-height: 1.8vw;
    font-weight: 600;
    letter-spacing: 2px;
    /* background-color: bisque; */
}

#right-bottom h5{
    width: 100%;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.2vw;
    /* background-color: bisque; */
}


/* P3 */
#p3{
    padding: 2vw 4vw;
    /* background-color: #1e1e1e; */
}

#p3 h1{
    font-family: 'Monument Extended';
    font-size: 4vw;
}

/* p4 */

#p4{
    width: 100%;
    height: 100vh;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 4vw;
    position: relative;
    gap: 3vw;
}

#p4-left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}
#left-up{
    
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 60%;
     
    /* background-color: #f8f8f8; */
}
#bg1{
    width: 100%;
    height: 100%;
    scale: .7;
    /* background-color: aqua; */
}
#bg2{
    width: 4vw;
    height: 3vw;
    position: absolute;
    left: 20%;
    top: 30%;
} 

#left-down h3{
    font-size: 1.4vw;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.6vw;
    padding: 0vw 1.5vw;
}
#p4-right{
    width: 60%;
    height: 100%;
    
}

#p4-right img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* p5 */

#p5{
    width: 100%;
    height: 100vh;
    padding: 2vw 4vw;
    
    
    
}

#p5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Update */

#update{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 2vw 4vw;
    position: relative;
}

#update h1{
    font-size: 3vw;
    font-family: 'Monument Extended';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

.elem{
    width: 100%;
    height: 16vh;
    /* background-color: rebeccapurple; */
    border-top: 2px solid #1e1e1e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
}

.elem img{
    width: 8vw;
    height: 7vw;
    background-color: #1e1e1e;
    position: absolute;
    left: 16%;
    opacity: 0;
    transition: all ease .9s;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.elem:hover img{
    left: 28%;
    opacity: 100%;
}

.elem:nth-last-child(1) img {
    left: 44%;
    opacity: 0;
    object-position: 0 40%;
}
.elem:nth-last-child(1):hover img {
    left: 28%;
    opacity: 100%;
}

.elem:nth-last-child(3) img {
    left: 44%;
    opacity: 0;
}
.elem:nth-last-child(3):hover img {
    left: 28%;
    opacity: 100%;
}

.elem:nth-last-child(4) img{
    object-position: top;
}

.elem:nth-last-child(2) img{
    object-position: -16% 10%;
}


.elem h3{
    width: 6%;
    font-size: 1.4vw;
    font-weight: 500;
}

.elem2{
    width: 45%;
}
.elem2 h2{
    font-size: 2.4vw;
    font-weight: 500;
    
}
.elem2 h5{
    font-size: 1vw;
    font-weight: 600;
    
}

.elem:nth-last-child(1){
    border-bottom: 2px solid #1e1e1e;
}

/* p6 */

#p6{
    width: 100%;
    height: 100%;
    padding: 2vw 4vw;
    /* background-color: aqua; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#p6-left{
    width: 48%;
    height: 80vh;
    /* background-color: #1e1e1e; */
}

#p6-right{
    width: 46%;
    height: 80vh;
    /* background-color: #551e1e; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#p6-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


#pr-up{
    width: 100%;
    height: 45%;
    /* background-color: #f8f8f8; */
}

#pr-up h2{
    font-family: 'Monument Extended';
    font-size: 3vw;
    margin-bottom: 2vw;
}

#pr-up h3{
    font-size: 1.6vw;
    font-weight: 600;
    width: 60%;
    margin-bottom: 2vw;
}

#pr-up p{
    font-size: 1.1vw;
    font-weight: 500;
    width: 100%;
    letter-spacing: -.6px;
}

#pr-down{
    width: 100%;
    height: 50%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
}
#pr-down img{
    object-fit: cover;
}
#prd1{
    width: 60%;
    height: 100%;

}

#prd2{
    width: 35%;
    height: 100%;
    
}

/* p7 */

#p7{
    width: 100%;
    height: 100vh;
    /* background-color: #f10101; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    /* gap: 2vw; */
}

 #p7-left{
    height: 100%;
    width: 50%;   
    /* background-color: #fff; */
}

#p7-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#p7-right{
    height: 100%;
    width: 48%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#p7-right img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: 10%;
}

#p7rb{
    width: 100%;
    height: 20%;
    margin-top: 1.2vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2vw;
    /* background-color: aqua; */
}

#p7rb h3{
    width: 70%;
    font-size: 1.5vw;
    line-height: 1.8vw;
    font-weight: 500;
    letter-spacing: 2px;
    /* background-color: bisque; */
}

#p7rb h5{
    width: 100%;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.2vw;
    /* background-color: bisque; */
}


/* MARQUE */

#marque{
    width: 100%;
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1.4px solid #1e1e1e;
    border-bottom: 1.4px solid #1e1e1e;
}

#marque h1{
    display: inline-block;
    font-size: 3vw;
    font-family: 'monument extended';
    letter-spacing: 2px;
    margin-right: 16px;
    -webkit-text-stroke: 1.4px #1e1e1e;
    color: transparent;
    padding: 1vw 0vw;
    /* background-color: antiquewhite; */
    animation-name: txt-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes txt-move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

/* blog */
#blog{
    width: 100%;
    height: 100%;
    padding:  4vw;
    /* background-color: aqua; */
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}

#blog-left{
    width: 16%;
    /* background-color: antiquewhite; */

}

#blog-left h1{
    font-size: 3vw;
    font-family: 'Monument Extended';
    letter-spacing: 2px;
}

#blog-right{
    width: 75%;
    height: 60vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blr{
    width: 48%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blr h4{
    width: 100%;
    height: 40%;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1.8vw;

}

.blr img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

#br2 img{
    object-position: 10% 30%;
}

/* footer */

#footer{
    width: 100%;
    height: 20vh;
    border-top: 1.5px solid #1e1e1e;
    border-bottom: 1.5px solid #1e1e1e;
    /* background-color: red; */
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#footer h1{
    height: 100%;
    width: 20%;
    /* background-color: bisque; */
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: start;
    justify-content: center;
    color: #1e1e1e;
    font-family: 'Monument Extended';
    letter-spacing: -1px;
    position: relative;
    padding-top: 2vw;
}

#footer h2{
    height: 100%;
    width: 20%;
    /* background-color: bisque; */
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: start;
    justify-content: center;
    border-left: 1.5px solid #1e1e1e;
    color: #1e1e1e;
    padding-top: 2vw;
}

#footer h2:nth-last-child(1){
    width: 42%;
    /* background-color: aquamarine;
     */
}



#footer h2:nth-last-child(){
    border: none;
}

#footer h1::after{
    content: "©️";
    font-weight: 400;
    font-size: 1vw;
    position: absolute;
    top: 16%;
    right: 14%;
    color: #1e1e1e;
}

#footer h1::before{
    content: "model management";
    font-family: 'gilroy';
    font-weight: 400;
    font-size: .8vw;
    position: absolute;
    top: 40%;
    right: 20%;
    letter-spacing: .1px;
    color: #1e1e1e;
}


/* last */
#last{
    width: 100%;
    height: 100%;
    padding: 2vw;
}


/********************* Responsiveness *********************************************/


/* nav bar */

@media (max-width: 600px) {
    
    /* html body */
    html, body{
        overflow-x: hidden;
    }


    /* navbar */

    #nav{
       
        height: 8vh;
        margin-top: 16px; 
        margin-bottom: 8px;
    }
     
    
    #nav h1{
        height: 100%;
        width: 40%;
        /* background-color: bisque; */
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: start;
        color: #1e1e1e;
        font-family: 'Monument Extended';
        letter-spacing: -1px;
        position: relative;
        padding: 0vw 4vw;
    }
    
    #nav h2{
        
        display: none;
    }
    
    
    #nav h1::after{
        font-size: 3vw;
        right: 2%;
    }
    
    #nav h1::before{
        font-size: 2.4vw;
        right: 10%;
    }
    #nav h3{
        display: block;
        padding-right: 4vw;
        font-weight: 500;
    }
    

    /* hero section */
    #hero{
        height: 50vh;
    }
    
    #overlay {
        height: fit-content;
    }
        
    #over1 h1{
        font-size: 5.4vw;
        letter-spacing: 1px;
    }
    
    #over1 h2{
        font-size: 3vw;
    }
    
    #over2 h4{
        font-size: 2.8vw;
    }
    
    #over2 img{
        width: 4vw;
    }
    
    /* scroll view */

    #scroll{
        height: 20vh;
    }
    
    #container{
        width: 210%;
    }
    
    #scroll img{
        width: 18%;
        margin: 1vw 2.1vw;
    }
   
    /* alphabet */

    #alphabet{
        height: 8vh;
        flex-wrap: wrap;
        padding:  4vw;
    }

    #alphabet h5{
        margin-right: 1.6vw;
        font-size: 3vw;
    }

    #alphabet h6{
        font-size: 2.4vw;
    }

    /* img section */

#page2{
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding:4vw;
    gap: 4vw;
}

 #left{
    height: 40vh;
    width: 100%;   

}

#left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10% 16%;
}

#right{
    height: 50vh;
    width: 100%;
}

#right img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    object-position: 10%;
}

#right-bottom{
    width: 100%;
    margin-top: 3vw;
    gap: 2vw;
}

#right-bottom h3{
    font-size: 3.6vw;
    line-height: 4vw;
}

#right-bottom h5{
    font-size: 2.8vw;
    line-height: 3.6vw;
    /* background-color: bisque; */
}
/* P3 */
#p3 h1{
    font-size: 6vw;
}
/* p4 */

#p4{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    position: relative;
    gap: 3vw;
}

#p4-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /* background-color: #fff; */
    gap: 1vh;
}
#left-up{
    
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 60%;
}
#bg1{
    scale: 1;
}
#bg2{
    width: 6vw;
    height: 5vw;
    top: 29%;
    left: 24%;
} 

#left-down h3{
    font-size: 3.2vw;
    line-height: 4vw;
    padding: 3vw 1vw;
}

#p4-right{
    height: 36vh;
    
}

#p4-right img{
    width: 100%;
}

/* p5 */
#p5{
    width: 100%;
    height: 100%;
    padding: 4vw;

}

#p5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Update */

#update{
    padding: 4vw;
}

#update h1{
    font-size: 6vw;
    margin-bottom: 2.4vh;
}

.elem{
    width: 100%;
    height: 8vh;
    /* background-color: rebeccapurple; */
    border-top: 1.4px solid #1e1e1e;
    
}

.elem img{
    width: 13vw;
    height: 12vw;
}



.elem h3{
    font-size: 2.4vw;
}

.elem2 h2{
    font-size: 4vw;
    font-weight: 500;
    
}
.elem2 h5{
    font-size: 1.8vw;
    font-weight: 600;
    
}

.elem:nth-last-child(1){
    border-bottom: 1.4px solid #1e1e1e;
}

/* p6 */

#p6{
    width: 100%;
    height: 100%;
    padding:  4vw;
    /* background-color: aqua; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#p6-left{
    width: 100%;
    height: 24vh;
    /* background-color: #1e1e1e; */
}

#p6-right{
    width: 100%;
    height: 40vh;
    /* background-color: #551e1e; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#p6-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


#pr-up{
    width: 100%;
    height: fit-content;
    /* background-color: #790e0e; */
    margin-top: 4vw;
}

#pr-up h2{
    font-family: 'Monument Extended';
    font-size: 6vw;
    margin-bottom: 1.6vw;
    letter-spacing: 1.6px;
}

#pr-up h3{
    font-size: 3vw;
    line-height: 3.3vw;
    font-weight: 600;
    width: 60%;
    margin-bottom: 2vw;
}

#pr-up p{
    font-size: 2.8vw;
    font-weight: 300;
    width: 100%;
    letter-spacing: .8px;
    line-height: 3vw;
}

#pr-down{
    width: 100%;
    height: 50%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
}

/* p7 */

#p7{
    height: 100%;
    /* background-color: #f10101; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    gap: 4vw;
}

 #p7-left{
    height: 30vh;
    width: 100%;   

}

#p7-left img{
    object-fit: cover;
    object-position: 10% 25%;
}

#p7-right{
    height: 40vh;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#p7-right img{
    object-position: 1% 68%;
}

#p7rb{
    height: fit-content;
    
}

#p7rb h3{
    font-size: 3vw;
    line-height: 4vw;
}

#p7rb h5{
    font-size: 2.6vw;
    line-height: 3vw;
    /* background-color: bisque; */
}
/* MARQUE */

#marque{
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}

#marque h1{
    font-size: 6vw;
    -webkit-text-stroke: 1px #1e1e1e;
    padding-top: 1.6vw;
    
}

/* blog */
#blog{
    width: 100%;
    height: 100%;
    padding:  4vw;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
}

#blog-left{
    width: 100%;
    /* background-color: antiquewhite; */

}

#blog-left h1{
    font-size: 6vw;
    margin-bottom: 2vw;
}

#blog-right{
    width: 100%;
    height: 42vh;

}

.blr{
    width: 48%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blr h4{
    width: 100%;
    height: fit-content;
    font-size: 3vw;
    font-weight: 300;
    line-height: 4vw;

}
#br2 img{
    object-position: 10% 40%;
}
#br1 img{
    object-position: 10% 40%;
}

/* footer */

#footer{
    width: 100%;
    height: 8vh;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    /* background-color: red; */
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#footer h1{
    height: 100%;
    width: 40%;
    /* background-color: bisque; */
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 4vw;
    color: #1e1e1e;
    font-family: 'Monument Extended';
    letter-spacing: 0px;
    position: relative;
    padding-top: 2vw;
}

#footer h2{
    height: 100%;
    width: 60%;
    /* background-color: bisque; */
    font-size: 3vw;
    flex-wrap: wrap;
    padding-right: 4vw;
   
}

#footer h2:nth-last-child(1){
    width: 60%;
    /* background-color: aquamarine;
     */
}



#footer h2:nth-last-child(2 ){
    border: none;
    display: none;
}

#footer h2:nth-last-child(3 ){
    border: none;
    display: none;
}
#footer h1::after{
    content: "©️";
    font-weight: 400;
    font-size: 2vw;
    position: absolute;
    top: 10%;
    right: 8%;
    color: #1e1e1e;
}

#footer h1::before{
    content: "model management";
    font-family: 'gilroy';
    font-weight: 400;
    font-size: 2vw;
    position: absolute;
    top: 44%;
    right: 16%;
    letter-spacing: .1px;
    color: #1e1e1e;
}

}